:root.theme-dark {
  --bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --subtitle-text-color: #ff0070;
  --heading-bg-color: #ff0070;
  --heading-text-color: #000028;
  --text-color: #f1b2ce;
  --rec-display: flex;
}
