:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --subtitle-text-color: #353430;
  --heading-bg-color: #ff8dcb;
  --heading-text-color: #353430;
  --text-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --subtitle-text-color: #353430;
    --heading-bg-color: #ff8dcb;
    --heading-text-color: #353430;
    --text-color: #353430;
    --rec-display: none;
  }
}
