/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family), sans-serif;
  font-weight: 400;
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
  block-size: max(100vh, 668px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decor-item {
  position: absolute;
  top: var(--page-padding);
  right: calc(9px + var(--page-padding));
  display: var(--rec-display);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--decor-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__decor-item::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  font-size: var(--main-text-size);
  line-height: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  /*используем невидимую границу, чтобы размеры элемента не менялись при разных состояниях*/
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--subtitle-text-color);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--subtitle-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--title-text-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header__title {
    margin-left: calc(-1 * var(--page-padding));
  }
}

.header__lead {
  align-self: center;
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
}

@media (min-width: 768px) {
  .header__lead {
    justify-self: end;
    max-inline-size: 364px;
  }
}

.title-decor {
  color: var( --heading-text-color);
  background-color: var(--heading-bg-color);
}

.text-section {
  display: grid;
  gap: 20px;
  padding: 0 var(--page-padding);
  font-size: var(--main-text-size);
}

.reasons {
  grid-template-columns: 1fr;
  margin-top: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

@media (min-width: 768px) {
  .reasons {
    grid-template-columns: 1fr 2fr;
  }
}

.subtitle {
  color: var(--subtitle-text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.article__content {
  color: var(--text-color);
  font-size: inherit;
  line-height: 130%;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.article__link:hover {
  border-bottom: 1px solid currentColor;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid currentColor;
}

.concentration {
  grid-template-columns: 1fr;
  margin-top: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

@media (min-width: 768px) {
  .subtitle_narrow {
    inline-size: min-content;
  }
}

.advice {
  grid-template-columns: 1fr;
  margin-top: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

@media (min-width: 768px) {
  .advice {
    grid-template-columns: 1fr 2fr;
  }
}

.advice__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.desc {
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.article__heading_thin {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
  margin-top: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding: 0 var(--page-padding);
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__heading {
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
}

@media (min-width: 768px) {
  .gallery__heading {
    grid-column: 1/-1;
    grid-row: 1;
  }
}

.gallery__img {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
}

@media (min-width: 768px) {

  .gallery__img:nth-of-type(1) {
    grid-column: 1/3;
  }

  .gallery__img:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .gallery__img:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3/5;
  }

  .gallery__img:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .gallery__img:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);;
  padding: var(--page-padding);
  block-size: max(100vh, 668px);
}

.footer__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--title-text-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color);
}
