/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family), sans-serif;
  font-weight: 400;
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
  block-size: max(100vh, 668px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decor-item {
  position: absolute;
  top: var(--page-padding);
  right: calc(9px + var(--page-padding));
  display: var(--rec-display);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--decor-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__decor-item::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__theme-menu {
  font-size: var(--main-text-size);
  line-height: 100%;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--subtitle-text-color);
  padding: 4px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--subtitle-text-color);
}

.header__title {
  font-size: var(--title-text-size);
  text-transform: lowercase;
  line-height: 83%;
  font-weight: 700;
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
  max-width: 491px;
}

.title-decor {
  background-color: var(--heading-bg-color);
  color: var( --heading-text-color);
}

